/* common code starts here */
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Rubik', sans-serif;    
}
.section-center{
    width: 90%;
    margin: auto;
}
.underline{
    border: 1px solid rgb(241, 235, 235);
    width: 80%;
}
.btn{
    width:50%;
    line-height: 35px;
    border-radius: 7px;
    margin-top: 10px;
    background: hsl(240, 55%, 45%);
    color: white;
    font-size: 20px;
    padding: 5px 0;
    cursor: pointer;
}
/* common code ends here */
/* header starts here */
header{
    display: flex;
    height: 100px; 
    justify-content: space-between;
    margin: 0 170px;
    align-items: center;
    background: white;
}
.logo-sec{
    display: flex;  
}
.logo-sec h3{
    font-size: 25px;
    font-weight: 800;
    margin-top: 20px;
    margin: 20px;
}

.menu ul li{
    display: inline;
    margin:0 15px;
}
.menu ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #292b2c;
}
/* header ends here */
#banner-sec{
    background-image: url("images/head.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/* banner starts here */
.banner-text{
    background: white;
    position: absolute;
    width: 700px;
    height: 300px; 
    padding: 0 20px;
}
.banner-heading{
    font-size: 35px;
    color: #292b2c;
    margin:30px 0;
}
.banner-des{
    font-size: 18px;
    margin:30px 0;
}
.banner-btn{
   background: #ffff00de;
   font-size: 14px;
   padding: 9px 30px;
   border-radius: 5px;
   cursor: pointer;
   letter-spacing: 1.5px;
}

/* feature section starts here */
.main-section{
    display: flex;
}
.post-container{
    display: flex;
}
.featured-text{
    font-size: 18px; 
    padding: 20px 0 0 0; 
}
.blog-post{
    display: flex;
    box-shadow: 1px 1px 1px rgb(107, 93, 93), -1px 0px 1px;
    margin-right: 25px;
}
.blog-post-img{
    flex: 1;
}
.post-images{
    width:200px;
    height: 255px;
}
.post-article{
    flex: 3;
    padding: 10px 20px;
    justify-content: center;
}
.blog-heading{
    font-size: 22px;
}
.bl-pst-img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.post-img{
    display: flex;
    align-items: center;
}
.blog-des{
    margin: 20px 0px;
}
/* feature section ends here */
/* all stories starts here */
    #all-stories{
        display: flex;
        margin-top: 50px;

    }
    .newslatter{
        border: 1px solid rgb(195, 166, 166);
        padding: 50px 30px;
        margin-bottom: 40px;
        flex: 1;
    }
    .newslatter-heading{
        font-size: 16px;
        font-weight: 700;
        text-align: center;
    }
    .input-form{
        width:100%;
        line-height: 35px;
        border-radius: 5px;
        font-size: 20px;
        padding-left: 10px;
    }
    .newslater-pragraph{
        font-size: 16px;
        letter-spacing: 1.1px;
        margin: 20px 0;
    }
    .newslatter-btn{
        width:100%;
        line-height: 35px;
        border-radius: 7px;
        margin-top: 10px;
        background: hsl(240, 55%, 45%);
        color: white;
        font-size: 20px;
        padding: 5px 0;
        cursor: pointer;
    }
    .newslatter-post ul li{
        list-style-type: none;
        margin: 20px 0;
    }
    .newslatter-post ul li a{
       text-decoration: none;
       color:rgb(79, 63, 63)
    }
    .newslatter ul li a:hover{
        text-decoration: underline;
        color:rgb(85, 85, 220);
    }
    .usefull-heading{
        margin-bottom: 25px;
        text-align: center;
    }
    .recommended-img{
       cursor: pointer;
       width: 100%;
     }
    .all-stories-article-head{
        padding-left: 20px;
    }
    .all-stories-aside{
        flex: 1;
    }
    .all-stories-article{
        flex: 2;
        
    }
   .card-container{
       display: flex;
       margin: 10px 0 20px 0;
       padding-left: 20px;
   }
   .card{
        margin: 0 7px;
       width: 50%;
       border: 1px solid rgb(195, 166, 166);;
   }
   .story-img{
       width: 100%
   }
   .story-post{
       padding: 20px 30px;
       justify-content: left;
   }
   .story-head{
       font-size: 35px;
   }
   .story-desc{
       font-size: 20px;
       margin: 10px 0;
       color:rgb(79, 63, 63)
   }
   .p-profile-img{
       display: flex;
       align-items: center;
   }
   
/* all stories starts here */
/* social media starts here */
#social-media{
    background: #e9e924;
    display: flex;
    padding: 50px 50px;
}
.aside-dec{
    flex: 2; 
}
.aside-text{
    font-size:30px;
}
.aside-head{
    font-size: 18px;
    font-weight: 600;
    margin: 15px 0;
}
.social-article-head{
    font-size: 32px;
    padding:0 18px 20px 20px;
}
.social-btn{
    width: 30%;
    padding: 18px 0;
}
.social-article{
    flex: 1;
    text-align: right;
} 
.social-menu{
    margin-right: 15px;
}
.social-menu ul li a{
    background: white;
}
.social-menu nav ul li{
    list-style-type:none;;
    display: inline;
    padding: 10px 10px;
    margin: 5px 5px;
    color:white
}

/* social media starts here */
/* banner ends here */
/* footer section starts here */
#footer-section{
    background: #292b2c;
}
.footer-container{
    display: flex;
    padding: 70px;
}
.footer-div1{
    flex: 1;
}
.footer-heading{
    color:white;
}
.footer-download-pragh{
    color:rgb(142, 141, 137);
}
.footer-menu ul li {
    list-style-type: none;
    padding: 10px 0;
}
.footer-menu ul li a{
    color:rgb(211, 199, 164);
    text-decoration: none;
}
.footer-download-pragh{
    margin: 20px 0;
}
span a{
    color: white;
}
.footer-container1{
    display: flex;
    padding: 70px;
    justify-content: space-between;
}
.copy-right,.right-pragraph{
    color:rgb(208, 205, 196);
}
.affilicate{
    color:white;
}
/* footer section ends here */












/* responsive starts here */

@media screen and (max-width: 992px) {
    .menu ul li{
        margin:0 7px;
    }
    .menu ul li a{
        font-size: 16px;  
    }
    .main-section{
        flex-direction: column;
    }
    .post-container{
        padding-bottom: 20px;
    }
    .blog-post{
        margin:0;
    }
    .card-container{
       flex-direction: column;
    }
    .card{
       width: 100%;
       margin-bottom: 30px;
   }
   .social-article-head{
        font-size: 30px;
    }
@media screen and (max-width: 768px) {
    header{
       flex-direction: column;
       height: auto;
       margin: 10px 0;
    }
    .logo-sec h3{
        display: none;
    }
    .menu ul li{
        display: block;
        padding-left: 25px;
    }
    .menu ul li:hover{
      background: rgb(130, 130, 230);
    }
    #banner-sec{
        background-size: contain;
        height:500px;
    }
    .banner-text{
        width: 400px;
        height: 250px; 
    }
    .banner-heading{
        font-size: 25px;
        margin:20px 0;
    }
    #all-stories{
      flex-direction: column;

    }
    .newslatter{
        text-align: center;
    }
    .newslatter-post{
        text-align: center;
    }
    .underline{
       display: none;
    }
    .newslatter-post ul li{
        text-align: center;
     }
     #social-media{
       flex-direction: column;
       align-items: center;
    }
    .aside-dec{
        text-align: center;
    }
    .social-btn{
        width: 50%;
        font-size: 25px;
    }
    .social-article-head{
        margin-top: 20px;
    }
    .footer-div1{
        margin-bottom: 30px;
    }
    .footer-container{
        flex-direction: column;
        text-align: center;
    }
    .footer-container1{
        flex-direction: column;
        text-align: center;
    }
    .copy-right{
       margin-bottom: 50px;
    }
}
@media screen and (max-width: 600px) {
    header{
        flex-direction: column;
        height: auto;
        margin: 10px 0;
     }
     .logo-sec h3{
         display: none;
     }
     .menu ul li{
         display: block;
         padding-left: 25px;
     }
     .menu ul li:hover{
       background: rgb(130, 130, 230);
     }
     #banner-sec{
        height:400px;
    }
     .banner-text{
        width: 350px;
        height: 230px; 
    }
    .banner-heading{
        font-size: 20px;
        margin:13px 0;
    }
    .banner-des{
        font-size: 18px;
        margin:15px 0;
    }
    .recommended-img{
        width: 100%;
      }
    .aside-head{
        font-size: 15px;
    }
 } 

@media screen and (max-width: 400px) {
      header{
        flex-direction: column;
        height: auto;
        margin: 10px 0;
     }
     .logo-sec h3{
         display: none;
     }
     .menu ul li{
         display: block;
         padding-left: 25px;
     }
     .menu ul li:hover{
       background: rgb(130, 130, 230);
     }
     #banner-sec{
        background-size: auto;
    }
     .banner-text{
        display: none;
    }
    .blog-post{
        flex-direction: column;
    }
   .post-images{
       width: 100%;
   }
  .social-btn{
    width: 100%;
    } 
    #footer-section{
       height: max-content;
    }  
 }
 @media screen and (max-width: 360px) {
    header{
      flex-direction: column;
      height: auto;
      margin: 10px 0;
   }
   .logo-sec h3{
       display: none;
   }
   .menu ul li{
       display: block;
       padding-left: 25px;
   }
   .menu ul li:hover{
     background: rgb(130, 130, 230);
   }
   .social-article-head{
       font-size: 20px;
   }
}
